@import 'common';

.form-around {
  background: $white;

  .posts__comment__form {
    padding-top: 60px;

    &__title {
      p {
        font-size: 1.3rem;
        color: #2b546a;
        font-weight: bold;
      }
    }
    &__main {
      &__content {
        height: 150px;
        border: 1px solid #cfcfcf;

        @include sp {
          margin: 20px 20px 0;
        };
        @include pc {
          width: 70%;
          margin: auto;
        };
        &--p {
          h2 {

          }
        }
      }
      &__submit {
        position: relative;
        height: 50px;
        border: 1px solid #cfcfcf;
        margin: 0 20px;

        @include pc {
          width: 70%;
          margin: auto;
        }

        .submit-btn {
          width: 100px;
          height: 50px;
          background: black;
          position: absolute;
          right: 0;
        }
      }
    }
  }
}
