.posts__comment
  - @comments.each do |comment|
    .posts__comment__index
      .posts__comment__index__user
        .posts__comment__index__user__img
          %p
            = image_tag('user.png', alt: "ユーザーイメージ", width: 40, height: 40)
        .posts__comment__index__user__name
          %p
            = comment.user.name
      .posts__comment__index__main
        .posts__comment__index__main__c
          %p
            = comment.comment
