.form-around
  .posts__comment__form
    .posts__comment__form__title
      %p
        コメントする
    .posts__comment__form__main
      .posts__comment__form__main__content
        .posts__comment__form__main__content--p
          %h2
      .posts__comment__form__main__submit
        .submit-btn
