
.f-around
  .f
    .f__title
      %h1
        = @folder.name
    .f__show
      - @belongPosts.includes(:post).includes(:folder).each do |post|
        .f__show__c
          .f__show__c__title#folder_c
            %p
              = post.post.title

