@import 'common';
.folder-around {
  @include pc {
    margin: 70px;
  };

  .folder {
    border: 1px solid #cfcfcf;
    margin: 20px 0;
    background: $white;

    @include pc {
      margin: 20px;
    }
    &__title {
      border-bottom: 1px solid #cfcfcf;
      height: 30px;

      h2 {
        color: $mainblue;
        text-align: center;
        font-size: 1rem;
        padding: 5px;
        word-break: break-all;

        a {
          color: $mainblue;
        }
      }
    }

    &__content {
      &__c {
        @include pc {
          font-size: 1.3rem;
          padding: 10px;
          line-height: 1.3;
          word-break: break-all;
        };
        @include sp {
          font-size: 0.9rem;
          padding: 10px;
          line-height: 1.5;
          word-break: break-all;
        };
      }
    }

    &__user {
      display: flex;
      margin-left: 75%;

      .user-pic {
        border-radius: 50%;
      }
      p {

      }
    }
  }
}
