@import 'common';
.nav-border {
  box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
}
.text {
  margin-left: 30px;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: auto;
}

.search-form {
  width: 500px;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.right {
  margin-left: 35%;
}

.user-nav {
  border-radius: 50%;
}

.nav-posi {
  position: relative;
}

.nav-item {
  position: absolute;
  list-style: none;
  display: flex;
  right: 10%;
}
