.home-wrap
  .top-container
    .top-main
      %h1
        %span ようこそ
        %strong PUTQ
        %span へ
      = image_tag('top.jpg', class: "top-img", width: '100%', height: '300px')
  .top-intro
    .container
      %h1 アウトプット特化型アプリ
      %p 日頃学んでいる内容を問題形式で投稿することでクイズ感覚でその内容を復習できるスタイル。
  .second-container
    .second-main
      = image_tag('girl.jpg', class: "second-img", width: '100%', height: '300px')
  .second-intro
    .container
      %h1 アウトプット特化型アプリ
      %p 日頃学んでいる内容を問題形式で投稿することでクイズ感覚でその内容を復習できるスタイル。
  .third-container
    .third-main
      = image_tag('friends.jpg', class: "third-img", width: '100%', height: '300px')
  .third-intro
    .container
      %h1 アウトプット特化型アプリ
      %p 日頃学んでいる内容を問題形式で投稿することでクイズ感覚でその内容を復習できるスタイル。
