@import 'common';

// .category {
//   &__wrap {
//     width: 90%;
//     margin: 40px auto;
//     display: flex;
//     flex-wrap: wrap;


//     a {
//       text-decoration: none;
//       color: black;
//     }

//     &--each:hover {
//       box-shadow: 0 0 8px gray;
//       cursor: pointer;
//     }

//     &--each {
//       box-shadow: 2px 3px 4px -3px grey;
//       border: 1px solid #cfcfcf;
//       margin: 5px auto;
//       background: white;
//       height: 60px;
//       width: 30%;

//       &__icon {

//       }
//       &__title {
//         line-height: 3.7;
//         margin-left: 30px;
//       }
//     }
//   }
// }

.category {
  &__wrap {
    width: 95%;
    margin: 30px auto;


    &__parent {
      display: flex;
      flex-wrap: wrap;

      &--each {
        width: 45%;
        margin: 5px auto;
        box-shadow: 2px 3px 4px -3px grey;
        border: 1px solid #cfcfcf;
        background: white;
        height: 40px;

        &__title {
          line-height: 2.4;
          margin-left: 10%;
        }
      }
    }

    &__children {
      // margin: 40px 0;
      // display: flex;
      // flex-wrap: wrap;

      &--each {
        // width: 45%;
        // margin: 5px auto;
        // box-shadow: 2px 3px 4px -3px grey;
        // border: 1px solid #cfcfcf;
        // background: white;
        // height: 40px;

        &__title {

        }
      }
    }
  }
}
