@import 'common';

.cat {
  &__show {
    width: 90%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;

    a {
      text-decoration: none;
      color: black;
    }

    &--each:hover {
      box-shadow: 0 0 8px gray;
    }

    &--each {
      width: 40%;
      border: 1px solid #cfcfcf;
      box-shadow: 2px 3px 4px -3px grey;
      margin: 20px auto;
      background: $white;
      height: 50px;
      padding: 10px 15px;

      &__icon {

      }
      &__title {
        h2 {
          font-size: 1.3rem;
        }
      }
    }
  }
}
