.posts--show__title
  .posts--show__title__t
    %h2
      = post.title
  .posts--show__category
  .posts--show__category__c
    %span.category
      %p プログラミング
    %span.category
      %p Ruby
    %span.category
      %p pc
    %span.category
      %p エンジニア
  .posts--show__content
  %h2 問題
  .posts--show__content__c
    = simple_format(post.content)
  .posts--show__answer
  %h2
    答え
    %button#answer-btn
      答えを見る
  .posts--show__answer__a#answer
    = simple_format(post.answer)
