.container
  .posts
    .posts__image
      = image_tag('vr.jpg', class: "posts__image__pc", alt: "プロモ画像")
    .posts__newest
      %h1.posts__newest__t 最新
      .posts__newest--all
      .slider
        .posts__newest--all__p
          .posts__newest--all__p__category
            %p.posts__newest--all__p__category__name
              プログラミング
          .posts__newest--all__p__content
            %h2.posts__newest--all__p__content__c
              DBテーブルのリレーション管理について詳しく答えろ
          .posts__newest--all__p__user_name
            %span
              山田　太郎
          .posts__newest--all__p--under
            .posts__newest--all__p--under__likes
        .posts__newest--all__p
          .posts__newest--all__p__category
            %p.posts__newest--all__p__category__name
              プログラミング
          .posts__newest--all__p__content
            %h2.posts__newest--all__p__content__c
              DBテーブルのリレーション管理について詳しく答えろ
          .posts__newest--all__p__user_name
            %span
              山田　太郎
          .posts__newest--all__p--under
            .posts__newest--all__p--under__likes
        .posts__newest--all__p
          .posts__newest--all__p__category
            %p.posts__newest--all__p__category__name
              プログラミング
          .posts__newest--all__p__content
            %h2.posts__newest--all__p__content__c
              DBテーブルのリレーション管理について詳しく答えろ
          .posts__newest--all__p__user_name
            %span
              山田　太郎
          .posts__newest--all__p--under
            .posts__newest--all__p--under__likes
        .posts__newest--all__p
          .posts__newest--all__p__category
            %p.posts__newest--all__p__category__name
              プログラミング
          .posts__newest--all__p__content
            %h2.posts__newest--all__p__content__c
              DBテーブルのリレーション管理について詳しく答えろ
          .posts__newest--all__p__user_name
            %span
              山田　太郎
          .posts__newest--all__p--under
            .posts__newest--all__p--under__likes

    .posts__ranking
      %h1.posts__newest__t ランキング
      .posts__newest--all
      .slider
        .posts__newest--all__p
          .posts__newest--all__p__category
            %p.posts__newest--all__p__category__name
              プログラミング
          .posts__newest--all__p__content
            %h2.posts__newest--all__p__content__c
              DBテーブルのリレーション管理について詳しく答えろ
          .posts__newest--all__p__user_name
            %span
              山田　太郎
          .posts__newest--all__p--under
            .posts__newest--all__p--under__likes
        .posts__newest--all__p
          .posts__newest--all__p__category
            %p.posts__newest--all__p__category__name
              プログラミング
          .posts__newest--all__p__content
            %h2.posts__newest--all__p__content__c
              DBテーブルのリレーション管理について詳しく答えろ
          .posts__newest--all__p__user_name
            %span
              山田　太郎
          .posts__newest--all__p--under
            .posts__newest--all__p--under__likes
        .posts__newest--all__p
          .posts__newest--all__p__category
            %p.posts__newest--all__p__category__name
              プログラミング
          .posts__newest--all__p__content
            %h2.posts__newest--all__p__content__c
              DBテーブルのリレーション管理について詳しく答えろ
          .posts__newest--all__p__user_name
            %span
              山田　太郎
          .posts__newest--all__p--under
            .posts__newest--all__p--under__likes
        .posts__newest--all__p
          .posts__newest--all__p__category
            %p.posts__newest--all__p__category__name
              プログラミング
          .posts__newest--all__p__content
            %h2.posts__newest--all__p__content__c
              DBテーブルのリレーション管理について詳しく答えろ
          .posts__newest--all__p__user_name
            %span
              山田　太郎
          .posts__newest--all__p--under
            .posts__newest--all__p--under__likes
    .posts__category
      %h1.posts__newest__t カテゴリー
      .posts__newest--all
      .slider
        .posts__newest--all__p
          .posts__newest--all__p__category
            %p.posts__newest--all__p__category__name
              プログラミング
          .posts__newest--all__p__content
            %h2.posts__newest--all__p__content__c
              DBテーブルのリレーション管理について詳しく答えろ
          .posts__newest--all__p__user_name
            %span
              山田　太郎
          .posts__newest--all__p--under
            .posts__newest--all__p--under__likes
        .posts__newest--all__p
          .posts__newest--all__p__category
            %p.posts__newest--all__p__category__name
              プログラミング
          .posts__newest--all__p__content
            %h2.posts__newest--all__p__content__c
              DBテーブルのリレーション管理について詳しく答えろ
          .posts__newest--all__p__user_name
            %span
              山田　太郎
          .posts__newest--all__p--under
            .posts__newest--all__p--under__likes
        .posts__newest--all__p
          .posts__newest--all__p__category
            %p.posts__newest--all__p__category__name
              プログラミング
          .posts__newest--all__p__content
            %h2.posts__newest--all__p__content__c
              DBテーブルのリレーション管理について詳しく答えろ
          .posts__newest--all__p__user_name
            %span
              山田　太郎
          .posts__newest--all__p--under
            .posts__newest--all__p--under__likes
        .posts__newest--all__p
          .posts__newest--all__p__category
            %p.posts__newest--all__p__category__name
              プログラミング
          .posts__newest--all__p__content
            %h2.posts__newest--all__p__content__c
              DBテーブルのリレーション管理について詳しく答えろ
          .posts__newest--all__p__user_name
            %span
              山田　太郎
          .posts__newest--all__p--under
            .posts__newest--all__p--under__likes
