.posts
  .posts--all
    .posts--all--new
      .posts--all--new__title
        %p#new 最新の問題
        %p#folder フォルダで探す
        %p#category カテゴリで探す
      .posts--all--new__post
        .row
        - @posts.each do |post|
          = render partial: 'post', locals: {post: post}
          .posts--all--new__post--each__user
            %p
              = image_tag('user.png', class: "user-pic", alt: "プロフ画像", width: 30, height: 30)
            %p
              = post.user.name
