$mainblue: #4CADE0;
$white: #fff;
$black: #333;

  body {
    background: #e9ecefba;
  }


  h1 {
    text-align: center;
    font-size: 35px;
    padding-bottom: 20px;
  }

  p {
    text-align: center;
  }

  .new-btn {
    position: absolute;
    left: 44%;
    background: $mainblue;
    border: 1px solid $mainblue;
    color: white;
    padding: 10px 20px;

  }

.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.form-field {
  width: 100%;
  border-radius: 5px;
}
