@import 'common';

.home-wrap {
  .top-container {
    .top-main {
      position: relative;

      h1 {
        position: absolute;
        left: 25%;
        top: 40%;
        color: $white;
        font-size: 80px;

        span {

        }
        strong {
          color: $mainblue;
        }
        span {

        }
      }
      .top-img {

      }
    }
  }
  .top-intro {
    padding: 35px 0;
  }
}
