.home-wrap {
  .top-container {
    .top-main {
      position: relative;

      h1 {
        position: absolute;
        left: 25%;
        top: 40%;
        color: white;
        font-size: 90px;

        span {

        }
        strong {
          color: #17a2b8;
        }
        span {

        }
      }
      .top-img {

      }
    }
  }
  .top-intro {
    padding: 35px 0;
  }
}
