= render 'shared/top'
.category
  .category__wrap
    - @categories.each do |category|
      = link_to '#' do
        .category__wrap--each
          .category__wrap--each__icon
          .category__wrap--each__title
            = category.name
