= render 'shared/top'

.f-around
  .f
    .f__show
      - @categories.each do |category|
        .f__show__c#folder
          .f__show__c__title
            %p
              = category.name
          .f__show__c__main#folder-main
            - category.children.each do |child|
              .f__show__c__main--top
                .f__show__c__main--top__title
                .f__show__c__main--top__text
                  %p
                    = link_to child.name, '#'
