= render 'shared/top'
.cat
  .cat__show
    - @child_categories.each do |category|
      .cat__show--each
        = link_to '#' do
          .cat__show--each__icon
          .cat__show--each__title
            %h2
              = category.name
