@import 'common';
.form--around {
  display: flex;

  .form__post {
    @include pc {
      width: 80%;
      margin: 20px auto;
      padding: 15px 20px;
      background: $white;
    };
    @include sp {
      width: 100%;
      margin: 20px auto;
      padding: 15px 20px;
      background: $white;
    };

    &__title {
      &__label {

      }
      &__field {
        .form-field {

        }
      }
    }
    &__content {
      &__label {

      }
      &__field {

      }
    }
    &__answer {
      &__label {

      }
      &__field {

      }
    }
    &__category {
      margin-bottom: 50px;
      &__label {
        &__cat {
          .select-default {
            width: 100%;
            height: 40px;
          }
        }
      }
    }
    &__submit {
      p {
        line-height: 2;

        .submit-btn {
          color: $white;
          font-weight: 600;
          font-size: 1.2rem;
          background: $mainblue;
          border-radius: 5px;
              box-shadow: 0 3px 1px -2px rgba(0,0,0,.2);

        }
      }
    }
  }
}
