@import 'common';
.around {
  .posts--show {
    @include pc {
      background: $white;
      margin: 40px auto;
      width: 70%;
    };

    @include sp {
      background: $white;
      margin: 40px auto;
      width: 100%;
    };

    &__user {
      display: flex;

      &__avatar {
        @include pc {
          width: 50px;
          height: 50px;
          padding: 20px;
        };
        @include sp {
          padding: 10px 20px;
        };

        .user-pic {
          @include pc {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          };

          @include sp {
            width: 65px;
            height: 65px;
            border-radius: 50%;
          };
        }
      }
      &__name {
        @include pc {
          padding: 20px;
          margin-left: 20px;
          color: $mainblue;
        };
        @include sp {
          padding: 20px 50px;
          color: $mainblue;
        };
         p {
          @include sp {
            font-size: 1.3rem;
          };
         }
      }
    }
    &__title {
      padding: 20px;

      &__t {
        h2 {
          @include pc {
            font-weight: bold;
            font-size: 2rem;
          };
          @include sp {
            font-weight: bold;
            font-size: 1.5rem;
          };
        }
      }
    }
    &__category {
      @include pc {
        padding: 0 20px 20px 20px;
      };
      @include sp {
        padding: 0 20px 20px 20px;
      };
      &__c {
        span {
          p {
            @include pc {
              display: inline-block;
              background: #cfcfcf;
              padding: 5px 10px;
              font-size: 0.8rem;
              margin: 0 5px 0 0;
            };
            @include sp {
              display: inline-block;
              background: #cfcfcf;
              padding: 3px 6px;
              font-size: 0.5rem;
              margin: 0 5px 0 0;
            };
          }
        }
      }
    }
    &__content {
      padding: 40px 20px;

      & h2 {
        @include pc {
          font-weight: bold;
          margin-bottom: 20px;
        };
        @include sp {
          font-weight: bold;
          margin-bottom: 20px;
          font-size: 1.5rem;
        };
      }
      &__c {
        line-height: 2;

        p {
          text-align: left;
        }
      }
    }
    &__answer {
      padding: 0 20px 20px 20px;

      & h2 {
        @include pc {
          font-weight: bold;
          margin-bottom: 20px;
        };
        @include sp {
          font-weight: bold;
          margin-bottom: 20px;
          font-size: 1.5rem;
        };

        #answer-btn {
          font-size: 1.2rem;
          background: $mainblue;
          color: $white;
          margin-left: 10px;
          border-radius: 5px;
        }
      }
      &__a {
        display: none;

        p {
          @include pc {
            text-align: left;
          };
          @include sp {
            text-align: left;
            line-height: 2;
          };
        }
      }
    }
    &__btn {
      padding: 20px;
      &__b {
        .btn_b {
          border: 1px solid $mainblue;
          margin-right: 5px;
          border-radius: 5px;
          padding: 5px 10px;
          background: $mainblue;
          color: $white;
        }
      }
    }
    &__like {
      position: relative;

      a {
        position: absolute;
        right: 9%;
        bottom: 5%;
      }

      #like_span {
        position: absolute;
        right: 5%;
        bottom: 5%;
        font-size: 1.2rem;
      }
    }
  }
}


